* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBFBFB;
}

:root {
    --green: #EB5352;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 99999px;
}

a {
    color: var(--green);
}

img {
    max-width: 100%;
}

main {
    margin: auto;
    max-width: 700px;
    border-left: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
    background-color: white;
    min-height: 100vh;
}

.cover-photo{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06) inset;
    overflow: hidden;
    z-index: -1;
}

.app-title {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    z-index: 9999999999999999;
}

.app-title img {
    max-width: 100px;
    padding: 10px ;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    margin-right: 20px;
    background-color: white;
}

.app-title h2 {
    color: #37443F;
    font-size: 19px;
    margin-bottom: 10px;
}

.app-title p {
    opacity: 0.4;
}

.description {
    padding: 30px;
}

.description p.desc {
    color: #5c5c5c;
    line-height: 33px;
}

.description p.dl-btn {
    margin-top: 20px;
}

.description p.dl-btn a.btn {
    display: inline-block;
    background-color: var(--green);
    color: white;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(21,99,86, 0.34); /* Green with Transparency 34% */
    margin-right: 10px;
    vertical-align: middle;
}

.description p.dl-btn span {
    color: #37443F;
    font-size: 13px;
    opacity: .5;
    vertical-align: middle;
}

.galleries {
    margin: 30px 0;
    padding: 0 30px;
    padding-left: 10px;
    margin-left: 20px;
    overflow-x: scroll;
    display: flex;
}

.galleries::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.galleries::-webkit-scrollbar-thumb {
    background-color: #eb525228;
    border-radius: 9999px;
}


.galleries img {
    width: 100%;
    max-width: 200px;
    margin: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.galleries img:first {
    margin-left: 5px;
}

.page-info {
    padding: 0 30px ;
    padding-bottom: 30px;
}

.page-info h3 {
    font-size: 15px;
    color: #37443F;
    margin-bottom: 30px;
}

.page-info p {
    font-size: 15px;
    color: #37443F;
    margin-bottom: 20px;
    line-height: 30px;
}

.page-info ul {
    padding-left: 30px;
}

.page-info ul li {
    font-size: 15px;
    color: #37443F;
    line-height: 30px;
}

footer {
    background-color: rgb(223, 223, 223);
    font-size: 13px;
    padding: 10px;
    text-align: center;
    color: rgb(93, 93, 93)
}